@import '../../styles/vars';
@import '../../styles/mixins';

.info_block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 254px);
  min-height: 622px;
  padding: 0 0 40px 0;
  border-radius: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: $light-gray-base-color;

  .img_block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .flyMan {
      width: 320px;
      height: 332px;
      margin: 80px 0 40px;
      background-image: url(../../images/fly-man.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center
    }

    span {
      @include text($black-base-color, 22px, 400, 27px);
      text-align: center;
    }
  }

  .rating_block {
    display: flex;
    width: 100%;
    min-height: 120px;
    background: $light-gray-base-color;
    align-items: center;
    padding: 0 32px;
    border-top: 1px solid rgb(218, 214, 214);

    &:last-child {
      border-bottom: 1px solid rgb(218, 214, 214);
    }

    .date {
      width: 258px;

      span {
        @include text($black-base-color, 26px, 500, 31px);
      }
    }

    .starOut {
      position: relative;
      z-index: 1;
      background-image: url(../../images/star-analytics-empty.svg);
      width: 74.5px;
      height: 71px;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 19px;
    }

    .starIn {
      background-image: url(../../images/star-analytics-full.svg);
      position: absolute;
      z-index: 2;
      overflow: hidden;
      width: 0;
      width: 74.5px;
      height: 71px;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 19px;
    }
  }
}

.filter_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 134px;
  width: 100%;

  .select_year {
    position: relative;
    width: 134px;
    height: 54px;
    border-radius: 40px;
    background: $purple-base-color;
    appearance: none;

    .option {
      width: 134px;

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        margin-bottom: 12px;
      }
    }

    .year_button {
      text-decoration: none;
      width: 134px;
      height: 54px;
      border-radius: 20px;
      background: $purple-base-color;
      appearance: none;
      background-image: url(../../images/select-arrow.svg);
      background-position-x: calc(100% - 26px);
      background-position-y: center;
      background-repeat: no-repeat;
      padding: 0 26px;
      @include text($black-base-color, 20px, 500, 24px);
      text-align: start;
      cursor: pointer;
      border: none;
    }

    .year_list {
      @include text($black-base-color, 16px, 500, 22px);
      height: 38px;
      margin: 0;
      padding: 8px;
      z-index: 1;
      text-align: center;

      cursor: pointer;

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        margin-bottom: 12px;
      }

      &:hover {
        background: $white-base-color;
      }
    }

    .year_ul {
      position: absolute;
      display: none;
      top: 54px;
      left: 0;
      margin-top: 4px;
      padding: 0;
      list-style: none;
      background-color: $purple-base-color;
      width: 134px;
      border-radius: 18px;
      z-index: 3;
      align-items: center;
    }
  }

  .users_ul {
    position: absolute;
    display: none;
    top: 54px;
    left: 0;
    margin-top: 4px;
    padding: 0;
    list-style: none;
    background-color: $white-base-color;
    width: 342px;
    border-radius: 18px;
    z-index: 3;
    align-items: center;
  }

  .user_button {
    text-decoration: none;
    width: 342px;
    height: 51px;
    border-radius: 20px;
    background: transparent;
    appearance: none;
    background-image: url(../../images/select-arrow.svg);
    background-position-x: calc(100% - 24px);
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 0 50px 0 24px;
    @include text($black-base-color, 20px, 500, 24px);
    text-align: start;
    cursor: pointer;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

  .users_list {
    @include text($black-base-color, 16px, 500, 38px);
    background: $white-base-color;
    list-style: none;
    height: 38px;
    margin: 0;
    padding: 0 24px;
    z-index: 1;
    text-align: start;
    cursor: pointer;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 342px;

    &:first-child {
      margin-top: 12px;
    }

    &:last-child {
      margin-bottom: 12px;
    }

    &:hover {
      background: $purple-base-color;
    }
  }

  .user_select {
    position: relative;
    margin-left: 312px;
    width: 342px;
    height: 54px;
    border-radius: 20px;
    background: $white-base-color;
    border: 2px solid rgb(218, 214, 214);
    appearance: none;

    .option {
      width: 342px;

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        margin-bottom: 12px;
      }
    }
  }
}
