@import '../../styles/vars';
@import '../../styles/mixins';

.info_block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 254px);
  min-height: 622px;
  padding: 0 0 40px 0;
  border-radius: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: $light-gray-base-color;

  .img_block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .flyMan {
      width: 320px;
      height: 332px;
      margin: 80px 0 40px;
      background-image: url(../../images/fly-man.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center
    }

    span {
      @include text($black-base-color, 22px, 400, 27px);
      text-align: center;
    }
  }

  .rating_block {
    display: flex;
    width: 100%;
    min-height: 120px;
    background: $light-gray-base-color;
    align-items: center;
    padding: 0 32px;
    border-top: 1px solid rgb(218, 214, 214);

    &:last-child {
      border-bottom: 1px solid rgb(218, 214, 214);
    }

    .date {
      width: 258px;

      span {
        @include text($black-base-color, 26px, 500, 31px);
      }
    }

    .starOut {
      position: relative;
      z-index: 1;
      background-image: url(../../images/star-analytics-empty.svg);
      width: 74.5px;
      height: 71px;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 19px;
    }

    .starIn {
      background-image: url(../../images/star-analytics-full.svg);
      position: absolute;
      z-index: 2;
      overflow: hidden;
      width: 0;
      width: 74.5px;
      height: 71px;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 19px;
    }
  }
}