@import '../../styles/vars';

.employeeRatingPage__wrapper {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 24px 0;
}

.employeeRatingPage__container {
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 28px;
  background-color: $light-gray-base-color;
}
