@import '../../styles/vars';
@import '../../styles/mixins';

.deadline-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 134px;
  width: 100%;

  &__date {
    display: flex;
    width: 576px;
    height: 54px;
    border-radius: 20px;
  }

  &__month-select {
    position: relative;
    width: 207px;
    height: 50px;
    background: $white-base-color;
    appearance: none;

    .option {
      width: 207px;

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        margin-bottom: 12px;
      }
    }
  }

  &__month-button {
    text-decoration: none;
    width: 207px;
    height: 54px;
    background: transparent;
    appearance: none;
    background-image: url(../../images/select-arrow.svg);
    background-position-x: calc(100% - 43px);
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 0 43px;
    @include text($black-base-color, 20px, 500, 1.2);
    text-align: start;
    cursor: pointer;
    border-radius: 20px 0 0 20px;
    border: 2px solid $purple-base-color;
  }

  &__month-ul {
    position: absolute;
    display: none;
    top: 54px;
    left: 0;
    margin-top: 4px;
    padding: 0;
    list-style: none;
    background-color: $white-base-color;
    width: 207px;
    border-radius: 18px;
    z-index: 3;
    align-items: center;
  }

  &__month-list {
    @include text($black-base-color, 16px, 500, 22px);
    background: $white-base-color;
    list-style: none;
    height: 38px;
    margin: 0;
    padding: 0 50px;
    z-index: 1;
    text-align: start;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:first-child {
      margin-top: 12px;
    }

    &:last-child {
      margin-bottom: 12px;
    }

    &:hover {
      background: $purple-base-color;
    }
  }

  &__year-select {
    position: relative;
    width: 131px;
    height: 50px;
    background: $white-base-color;
    appearance: none;

    .option {
      width: 131px;

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        margin-bottom: 12px;
      }
    }
  }

  &__year-button {
    text-decoration: none;
    width: 131px;
    height: 54px;
    background: transparent;
    appearance: none;
    background-image: url(../../images/select-arrow.svg);
    background-position-x: calc(100% - 26px);
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 0 26px;
    @include text($black-base-color, 20px, 500, 1.2);
    text-align: start;
    cursor: pointer;
    border: 2px solid $purple-base-color;
    border-left: none;
    border-right: none;
  }

  &__year-ul {
    position: absolute;
    display: none;
    top: 54px;
    left: 0;
    margin-top: 4px;
    padding: 0;
    list-style: none;
    background-color: $white-base-color;
    width: 131px;
    border-radius: 18px;
    z-index: 3;
    align-items: center;
  }

  &__year-list {
    @include text($black-base-color, 16px, 500, 22px);
    background: $white-base-color;
    list-style: none;
    height: 38px;
    margin: 0;
    z-index: 1;
    text-align: start;
    cursor: pointer;
    padding: 0 30px;
    display: flex;
    align-items: center;

    &:first-child {
      margin-top: 12px;
    }

    &:last-child {
      margin-bottom: 12px;
    }

    &:hover {
      background: $purple-base-color;
    }
  }

  &__submit {
    @include button;
    @include text($black-base-color, 20px, 600, 1.2);
    width: 240px;
    height: 54px;
    background: $purple-base-color;
    border-radius: 0 20px 20px 0;

    &:hover {
      background: $wrapper;
    }
  }
}

.deadline-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 254px);
  min-height: 622px;
  border-radius: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  background: $white-base-color;
  box-shadow: 0px 4px 20px rgba(166, 166, 166, 0.4);
}

.deadline-command {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  &__graph-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;
  }

  &__graph {
    display: grid;
    height: 300px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 1fr auto;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
    align-items: flex-end;
    justify-items: center;
    margin: 0 auto;
  }

  &__title {
    @include text($black-base-color, 36px, 44px);
    margin-bottom: 20px;
  }

  &__completed {
    width: 100px;
    height: 220px;
    background-color: $dark-green-base-color;
    border-radius: 20px;
  }

  &__failure {
    width: 100px;
    height: 50px;
    background-color: $red-base-color;
    border-radius: 20px;
  }

  &__leaders-intruders {
    width: 480px;
    margin: 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
  }

  &__employees-container {
    width: 100%;
    height: 200px;
    background-color: $light-gray-base-color;
    border-radius: 28px;
    box-shadow: 0px 4px 20px rgba(166, 166, 166, 0.4);
    padding: 24px;
  }

  &__employees-header {
    @include text($black-base-color, 32px, 500, 39px);
    margin-bottom: 14px;
  }

  &__employees {
    display: flex;
    gap: 20px;
  }

  &__employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
  }

  &__employee-icon {
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 8px;

    &_leader {
      background-image: url(../../images/employee-icon-leader.svg);
    }

    &_intruder {
      background-image: url(../../images/employee-icon-intruder.svg);
    }
  }

  &__employee-name {
    width: 100px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    @include text($black-base-color, 16px, 500, 19px);
  }
}
