<<<<<<< HEAD
=======
$color-button: #d9d9d9;
$background-color: #eaeaea;
$border: 12px solid #ffffff;
$color: black;

>>>>>>> 6e720b665f0eb5abdcfb4386ee404cf291466178
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  .not-found__title {
    margin: 246px auto 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
  }

  .not-found__subtitle {
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .not-found__link {
    margin: 169px auto 60px auto;
    min-height: 17px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285f4;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}
