.Questionnaire {
  display: flex;
  gap: 37px;
}

.Questionnaire__sidemenu {
  padding: 36px 0px 0px 20px;
}

.Questionnaire__wrapper {
  margin: 24px 20px 24px 0;
  width: 1163px;
  border-radius: 28px;
  background-color: rgba(245, 245, 245, 1);
}

.Questionnaire__header {
  margin: 14px 60px 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Questionnaire-header__back-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  border: none;
  margin-right: 36px;
  cursor: pointer;
}

.Questionnaire-header__back-button::before {
  content: '';
  padding: 2px 12px;
  background-image: url(../../images/CaretLeft.svg);
  background-repeat: no-repeat;
}

.Questionnaire-header__data {
  width: 348px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  margin-right: 105px;
}

.Questionnaire-header__icon {
  margin: 32px 12px;
}

.Questionnaire-header__underscribe {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  margin-right: 12px;
}

.Questionnaire-header__underscribe:last-child {
  margin-right: 25px;
}

.Questionnaire-titles {
  height: 97px;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.47px;
  display: flex;
  align-items: center;
}

.Questionnaire-titles__text {
  margin: 0 413px 0 60px;
}

.Questionnaire-container {
  width: 795px;
  margin-left: 60px;
  display: grid;
  grid-template-columns: 420px 275px;
  grid-template-rows: repeat(10, 96px);
  gap: 0 100px;
}

.Questionnaire__criterion {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 96px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
}

.Questionnaire__value {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Questionaire__text {
  font-size: 26px;
  font-weight: 500;
  line-height: 31.47px;
  text-align: left;
  display: block;
  margin: 40px 0 24px 60px;
}
.Questionnaire__input-text {
  width: 864px;
  height: 264px;
  border-radius: 40px;
  margin-left: 60px;
  border: 2px solid rgba(197, 182, 241, 1);
  font-size: 16px;
  box-sizing: border-box;
  padding: 37px 24px;
}

.Questionnaire__input-text::placeholder {
  color: rgba(166, 166, 166, 1);
}
.Questionnaire__input-text:focus-visible {
  border: 2px solid rgba(197, 182, 241, 1);
}
.Questionnaire__input-text:focus-visible {
  border: 2px solid rgba(197, 182, 241, 1);
  outline: 0;
}
.Questionnaire__button {
  margin: 40px 0 152px 60px;
  width: 188px;
  height: 56px;
  top: 1691px;
  padding: 16px 40px;
  border-radius: 20px;
  background-color: rgba(218, 214, 214, 1);
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
}
