* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
}

.page-container {
  display: flex;

  &__sidemenu {
    height: 100vh;
  }
}

* {
  outline: 1px dashed #dad6d6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #dad6d6;
  border-radius: 4px;
}