// основные цвета
$accent-color: #ffffff;
$background-color: #f5f5f5;
$accent-background-color: #000;

// палитра проекта
$white-base-color: #FFF;
$green-base-color: #00D37F;
$light-green-base-color: #C6F221;
$dark-grey-base-color: #3A3838;
$black-base-color: #000;
$dark-green-base-color: #014751;
$purple-base-color: #C5B6F1;
$light-green-base-color: #D3FFB4;
$grey-base-color: #F5F5F5;
$dark-grey-base-color: #A6A6A6;

// цвета валидации
$red-validation-color: #F24822;
$green-validation-color: #00D37F;

//1500 balls
$heigh-ball-color: #3367fb;

//на ревью
$on_review-color: #396bf9;

// семейства шрифтов
$font-family-main: 'Inter', sans-serif;
$font-family-headings: 'Inter', sans-serif;
$font-family-buttons: 'Roboto', sans-serif;
$main-color: rgb(0, 0, 0);

// размеры шрифтов
$font-size-main: 18px;
$font-size-headings: 22px;
$font-size-buttons: 14px;

$font-weight-main: medium;
$font-weight-headings: Bold;

// отступы
$margin-base: 10px;
$margin-headings: 20px;
$margin-buttons: 5px;

// размеры контейнеров
$container-width: 1200px;
$content-width: 960px;
$navigation-width: 240px;

// настройки анимаций
$animation-hover: all 0.3s ease-in-out;
$animation-click: all 0.5s ease-in-out;

// настройки трансформаций
$transition-hover: all 0.3s ease-in-out;
$transition-click: all 0.5s ease-in-out;
