$background-color-main: #fff;
$background-color-accent: #f5f5f5;
$border-radius: 5px;

.AdminPanel__conainer {
  margin: 25px 20px 60px;
  box-sizing: border-box;
  display: flex;
}

.AdminPanel__list {
  list-style: none;
}

.AdminPanel__item {
  text-decoration: none;
}

.AdminPanel__sidebar {
  background-color: $background-color-main;
  flex-grow: 0;
}
.AdminPanel__main {
  background-color: $background-color-accent;
  border-radius: $border-radius;
  flex-grow: 4;
}
