@import '../../styles/vars';
@import '../../styles/mixins';

.assessmentCard {
  width: 100%;
  height: 120px;
  background-color: $purple-base-color;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 34px 32px;
  color: $black-base-color;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  gap: 24px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 20px rgba(166, 166, 166, .4);
  }

  &__name {
    @include text($font-size: 20px, $line-height: 24px);
    width: 222px;
    max-height: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 12px;
  }

  &__jobContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__job {
    @include text($font-size: 20px, $line-height: 24px);
    width: 217px;
    max-height: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 92px;
  }

  &__delimiter {
    @include text($font-size: 20px, $line-height: 24px);
    margin-right: 10px;
  }

  &__date {
    @include text($font-size: 16px, $line-height: 19px);
    width: 216px;
    margin-right: 28px;
  }

  &__buttonAppreciated {
    background: #ffffff;
    width: 217px;
    height: 52px;
    border-radius: 20px;
    padding: 14px 40px;
    border: none;
    @include text($font-size: 20px, $line-height: 24px);
    text-align: center;
  }

  &__buttonNotAppreciated {
    background-color: rgba(197, 182, 241, 1);
    width: 217px;
    height: 52px;
    border-radius: 20px;
    padding: 14px 40px;
    border: none;
    @include text($font-size: 20px, $line-height: 24px);
    text-align: center;
  }
}
