.asses {
  width: 217px;
  height: 52px;
  background: #ffffff;
  border-radius: 20px;
  padding: 14px 40px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: center;
}
.NotAsses {
  width: 217px;
  height: 52px;
  border-radius: 20px;
  padding: 14px 40px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: center;
  background-color: rgba(197, 182, 241, 1);
  pointer-events: none;
}
