@import '../../styles/vars';
@import '../../styles/mixins';

.deadline-command {
  &__employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
  }

  &__employee-icon {
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 8px;

    &_leader {
      background-image: url(../../images/employee-icon-leader.svg);
    }

    &_intruder {
      background-image: url(../../images/employee-icon-intruder.svg);
    }
  }

  &__employee-name {
    width: 100px;
    max-height: 38px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    @include text($black-base-color, 16px, 500, 19px);
  }
}
