$main-color: black;
$font-weight: 500;
$font-size: 18px;

.side-menu {
  //position: fixed;
  height: 840px;
  /* margin: 60px 37px 60px 20px; */
  width: 200px;
  display: flex;
  flex-direction: column;
}

.sideMenu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 600;
  width: 180px;
}

.sideMenu__button_text {
  margin-left: 8px;
}

.sideMenu__button:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    #c5b6f1 10.6%,
    #c6b7f2 37.1%,
    #f6f17b 71.6%,
    #f5f07a 89.1%,
    #f5f07a 100%
  );
}

.side-menu__logo {
  height: 56px;
  border: 0;
}
