@import '../../styles/vars';
@import '../../styles/mixins';

.boards_page {
  max-width: 1440px;
  padding: 24px 20px 60px 0px;
  color: $black-base-color;
  height: 14444px;
}

.boards__wrapper {
  display: flex;
  gap: 37px;
}

.boards__sidemenu {
  padding: 36px 0px 0px 20px;
}

.boards__main {
  width: 1163px;
  height: 876px;
  border-radius: 40px;
  overflow: hidden;
}

.boards__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: $light-gray-base-color;
  border-radius: 40px;
  height: 120px;
  box-shadow: 0px 4px 20px rgba(166, 166, 166, 0.4);
}

.boards__icon-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boards__label {
  font-size: 26px;
  line-height: 121%;
  font-weight: $fw-medium;
  margin-left: 12px;
}

.boards__button {
  background-color: $yellow-base-color;
  border: none;
  width: 332px;
  padding: 16px 40px;
  font-size: 20px;
  line-height: 121%;
  font-weight: $fw-semibold;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  max-height: 56px;
  cursor: pointer;
}

.boards__content_type_empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boards__content-image {
  margin-top: 128px;
}

.boards__content_type_empty p {
  font-weight: 400;
  font-size: 22px;
  line-height: 121%;
  text-align: center;
  margin-top: 35px;
}
